.expanded {
    display: flex;
    margin: 1.5rem;

    &__column {
        width: 45%;

        &:first-of-type {
            margin-right: 3.125rem;
        }
    }

    &__heading {
        border-bottom: 1px solid #b7b1a9;
    }

    &__content {
        margin: 1.5rem 0;
    }
}
