.uttakDetaljer {
    &__grid {
        display: grid;
        grid-template-columns: 475px 475px;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    &__etikett {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0.8125rem 1.125rem;
    }
}
