.columnStyle {
    border-bottom: 1px solid #b7b1a9;
    line-height: 1.42857143;
    padding: 0.6875rem 0.3125rem;
    text-align: left;

    &:first-of-type {
        padding-left: 1.5rem;
    }

    > svg {
        vertical-align: bottom;
    }
}
